*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg-pattern-desktop.svg);
    font-family: 'Josefin Sans', sans-serif;
}
.heroImg{
    width: 44%;
    height: 100vh;
    float: right;
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
}
.container{
    padding: 50px 150px;
    width: 50%;
    float: left;
}
.logo{
    margin-bottom: 100px;
}
.ft50{
    font-size: 64px;
}
.wr{
    color: #bc9191;
}
.cs{
    color: #111;
    letter-spacing:15px;
}
.mb20{
    margin-bottom: 20px;
}
.para{
    color: #bc9191;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 40px;
}
.txtemail{
   border: 1px solid #bc9191;
    color: #bc9191;
    width: 330px;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
}
.txtArr{
    color: #f19d9d;
}
.btn {
    background-color: #bc9191;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    margin-left: -56px;
    font-weight: bold;
    border: none;
    float: right;
    background-image: url(images/icon-arrow.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}