*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.maindiv{
    background-image: url(images/bg-pattern-desktop.svg);
}
.logo {
    margin: 4rem 1.5rem;
    margin-bottom: 3rem;
}
.hero {
    background-image: url(images/hero-mobile.jpg);
    min-height: 30vh;
    background-size: cover;
}
.innerDiv{
    text-align: center;
    margin-top: 4rem;
    padding: 2.4rem;
}

h1 span{
    color: #bc9191;
    font-weight: 100;
    font-size: 7rem;
}
h1{
    font-size: 7rem;
    letter-spacing: 2rem;
    line-height: 9rem;
}
p {
    color: #bc9191;
    line-height: 2.4rem;
    margin-top: 2rem;
}
.txtbtn{
    position: absolute;
    left: 7rem;
    width: 80%;
}
input{
    background-color: transparent;
    border: 1px solid #bc9191;
    padding: 2rem 4rem;
    width: 100%;
    border-radius: 3.3rem;
    font-size: 1rem;
    margin-top: 1.3rem;
    color: #bc9191;
}
button{
    border: none;
    border-radius: 3.3rem;
    background-attachment: fixed;
    background-color: #bc9191;
    width: 10rem;
    height: 5.4rem;
    float: right;
    margin-right: -2rem;
    margin-top: -5.4rem;
}

@media screen and (min-width: 540px) {
    .maindiv {
        min-height: 95vh;
    }
}

@media screen and (min-width: 768px) {
    .maindiv {
        min-height: 89vh;
    }
}
@media screen and (min-width: 1024px) {
    .maindiv {
        min-height: 250vh;
    }
    .hero {
        min-height: 113vh;
    }
}
@media screen and (min-width: 1100px) {
    html{
        font-size: 13px;
    }
    .hero {
        background-image: url(images/hero-desktop.jpg);
        float: right;
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100vh !important;
    }
    .innerDiv{
        margin-left: 9.3rem;
        width: 60%;
        text-align: left;
        margin-top: 0;
        padding: 0;
    }
    body{
        background-image: url(images/bg-pattern-desktop.svg);
    }
    .txtbtn {
        position: relative;
        left:8.7rem;
    }
    .logo {
        margin: 4rem 10rem;
    }
    h1 span {
        font-size: 4rem;
    }
    h1{
        font-size: 4rem;
        letter-spacing: 1.3rem;
        line-height: 6.3rem;
    }
    p {
        width: 50%;
    }
    .txtbtn {
        width: 35%;
    }
    input{
        padding: 1.3rem 2.3rem;
        width: 90%;
    }
    button {
        width: 7rem;
        height: 4rem;
        margin-right: 3rem;
        margin-top: -4rem;
    }
    .maindiv {
        min-height: 80vh;
    }
}